name: Build and Lint
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main, beta, alpha]
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # the Node.js versions to build on
        node-version: [16.x, 17.x]

    steps:
      - uses: actions/checkout

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@main
        with:
          node-version: ${{ matrix.node-version }}

      #      - name: Upgrade yarn
      #        run: yarn set version berry

      - name: Install dependencies
        run: yarn

      - name: Lint the project
        run: yarn run lint

      - name: Build the project
        run: yarn run build
        env:
          CI: true
