name: Build and Lint

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # the Node.js versions to build on
        node-version: [14.x, 15.x, 16.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Upgrade yarn
        run: yarn set version latest

      - name: Install dependencies
        run: yarn

      - name: Lint the project
        run: yarn run lint

      - name: Build the project
        run: yarn run build
        env:
          CI: true
