name: Semantic release

on:
  workflow_dispatch:
  push:
    branches: [master, beta, alpha]
jobs:
  semantic-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout

      - uses: actions/setup-node
        with:
          node-version: '16'

      - name: Install dependencies
        run: yarn set version berry
      - run: yarn

      - name: Semantic Release
        run: yarn semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
