name: Semantic release

on:
  workflow_dispatch:
  push:
    branches: [master, beta, alpha]

# fine-grained permissions
# see https://github.com/semantic-release/github and https://docs.github.com/en/actions/security-guides/automatic-token-authentication#permissions-for-the-github_token
permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  semantic-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main

      - uses: actions/setup-node@main
        with:
          node-version: '20'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn set version berry
      - run: yarn

      - name: Semantic Release
        run: yarn semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
